/*common shared styles*/
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/*header related styles */
header {
  background-color: #e554731a;
  display: flex;
  justify-content: space-around;
  padding: 100px 0px 0px 130px;
}

.header-title {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 9px;
}
.title-design {
  color: #ed008c;
}
.header-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
}
.header-button {
  padding: 15px 25px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: white;
  margin-top: 20px;
}
.header-img {
  display: flex;
}

/* main content styles */
main {
}
.section-title {
  text-align: center;
  color: #272727;
  font-size: 20px;
  font-weight: 800;
  margin-top: 150px;
  margin-bottom: 0px;
}
.section-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  padding: 30px 150px;
  margin-top: 3px;
}
/*featured image styles */
.container-featured {
  display: flex;
  gap: 15px;
  margin-left: 70px;
}
.featured-img-1,
.featured-img-2,
.featured-img-3 {
  width: 220px;
  border-radius: 300px 300px 0px 0px;
}
.featured-img-1 {
  padding: 80px 70px 40px 70px;
  background: rgba(167, 33, 98, 0.15);
}
.featured-img-2 {
  padding: 90px 65px 100px 65px;
  background: rgba(5, 151, 160, 0.15);
}
.featured-img-3 {
  padding: 80px 70px 0px 70px;
  background: rgba(71, 125, 17, 0.15);
}
.figure-caption {
  text-align: center;
}
