/*common shared styles*/
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/*header related styles */
header {
  background-color: #e554731a;
  display: flex;
  justify-content: space-around;
  padding: 100px 0px 0px 130px;
}

.header-title {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 9px;
}
.title-design {
  color: #ed008c;
}
.header-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
}
.header-button {
  padding: 15px 25px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: white;
  margin-top: 20px;
}
.header-img {
  display: flex;
}

/* main content styles */

.section-title {
  text-align: center;
  color: #272727;
  font-size: 20px;
  font-weight: 800;
  margin-top: 150px;
  margin-bottom: 0px;
}
.section-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  padding: 30px 150px;
  margin-top: 3px;
}
/*featured image styles */
.container-featured {
  display: flex;
  gap: 15px;
  margin-left: 70px;
}
.featured-img-1,
.featured-img-2,
.featured-img-3 {
  width: 220px;
  border-radius: 300px 300px 0px 0px;
}
.featured-img-1 {
  padding: 80px 70px 40px 70px;
  background: rgba(167, 33, 98, 0.15);
}
.featured-img-2 {
  padding: 90px 65px 100px 65px;
  background: rgba(5, 151, 160, 0.15);
}
.featured-img-3 {
  padding: 80px 70px 0px 70px;
  background: rgba(71, 125, 17, 0.15);
}
.figure-caption {
  text-align: center;
}

/* section offer styles */
.offer-sale-container {
  padding: 120px 100px 140px 200px;
}
.offer-sale-section {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.offer-sale-section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 5px;
}
.offer-sale-section-desc {
  margin-top: 0px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.sign-up-btn {
  padding: 15px 25px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: white;
  margin-left: 220px;
}

/*New arrivals styles */
.new-arrival-title {
  margin-top: 100px;
  text-align: center;
}
.container-arrivals {
  display: flex;
  justify-content: center;
  margin-left: 40px;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.Order-btn {
  padding: 15px 25px;
  border-radius: 8px;
  background: #674f54;
  border: none;
  color: white;
  margin-left: 26%;
}

/*About us related styles */
.about-section {
  margin-top: 130px;
}
.about-title {
  margin: 0px 40px 30px 40px;
  background: #f5e4e7;
  padding: 10px;
  font-size: 25px;
  text-align: center;
}
.about-design {
  margin-right: 5px;
  color: #ec2b9b;
  font-size: 30px;
}
.about-container {
  display: flex;
  justify-content: start;
}
.about-img {
  width: 550px;
  margin: 0px 40px 0px 40px;
}
.about-desc,
li {
  color: rgba(39, 39, 39, 0.6);
  padding-left: 5px;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}
.about-button {
  padding: 15px 25px;
  border-radius: 8px;
  background: #151515;
  border: none;
  color: white;
  margin-top: 10px;
}

/* latest details styles */
.latest-deals {
  background-image: url("../Flower Asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 8px;
  background-color: lightgrey;
  border-radius: 8px;
  margin: 150px 40px 140px 40px;
}
.latest-deals-title {
  padding-top: 90px;
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
}
.latest-deals-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
}
input {
  border-radius: 8px;
  width: 600px;
  background: #fff;
  border: none;
  padding: 22px;
  margin: 0px 0px 120px 200px;
}

/* footer styles */
footer {
  background: #111010;
}
.footer-title {
  padding: 90px 500px 5px 500px;
  margin-top: 120px;
  color: white;
  font-size: 38px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 5px;
}
.footer-desc {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  margin-top: 0px;
}
.footer-end {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  padding-bottom: 130px;
}

/* resposive styles */
@media screen and (max-width: 576px) {
  header {
    padding: 0px;
    flex-direction: column;
  }
  .header-img {
    margin-top: 30px;
    margin-left: 77px;
    width: 64%;
  }
  .section-desc {
    padding: 0px;
    margin-top: 30px;
  }
  .container-featured {
    flex-direction: column;
    margin: 0px;
  }
  .offer-sale-container {
    padding: 10px;
  }
  .offer-sale-section {
    flex-direction: column;
  }
  .offer-sale-section-title {
    font-size: 22px;
  }
  .offer-sale-section-desc {
    margin-top: 10px;
  }
  .sign-up-btn {
    margin-left: 130px;
  }
  .container-arrivals {
    flex-direction: column;
    margin-left: 10px;
  }
  .Order-btn {
    margin-left: 30%;
    margin-bottom: 10px;
  }
  .about-container {
    flex-direction: column;
  }
  .about-img {
    width: 80%;
  }
  .latest-deals {
    margin: 10px;
  }
  input {
    margin: 5px;
    width: auto;
  }
  .footer-title {
    padding: 5px;
  }
}
